{% extends 'base.html.twig' %}

{% block body %}

    <h1>Welcome on Meetup Sample App</h1>

    {% if partners %}
        <table class="table">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for partner in partners %}
                <tr>
                    <td>
                        <a href="{{ path('partner_view', {'id': partner.id}) }}">{{ partner.name }}</a>
                    </td>
                    <td>
                        {% if partner.level is not null %}
                        {{ partner.level.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ partner.address | nl2br }}
                    </td>
                    <td>
                        <a href="{{ path('partner_edit', {'id': partner.id}) }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-edit"></i>
                            Edit
                        </a>

                        <a href="{{ path('partner_delete', {'id': partner.id}) }}" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        No partner
    {% endif %}

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
