{% extends 'base.html.twig' %}

{% block title %}Partner View{% endblock %}

{% block body %}

    {% if partner %}
        <h2>{{ partner.name }}</h2>

        <p><strong>Id: </strong>{{ partner.id }}</p>

        {% if partner.level is not null %}
        <p><strong>Level: </strong>{{ partner.level.name }}</p>
        {%  endif %}

        <p><strong>Address : </strong><br>
            {{ partner.address|nl2br }}
        </p>

        <p>
            <a href="{{ path('partner_list') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Back Home
            </a>

            <a href="{{ path('partner_edit', {'id': partner.id}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i>
                Edit
            </a>

            <a href="{{ path('partner_delete', {'id': partner.id}) }}" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i>
                Delete
            </a>
        </p>

    {% else %}

        <p>No partner</p>

    {% endif %}

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
